<config>
	<boundary>
		<maxX>5.12</maxX>
		<maxY>5.12</maxY>
	</boundary>
	
	<botTags>
	
	
	<instructionSet>
		<instruction>
			<name>GO</name>
			<value>0</value>
		</instruction>
		<instruction>
			<name>GET_X</name>
			<value>1</value>
		</instruction>
		<instruction>
			<name>GET_Y</name>
			<value>2</value>
		</instruction>
		<instruction>
			<name>GET_A</name>
			<value>3</value>
		</instruction>
		<instruction>
			<name>GET_T_L</name>
			<value>4</value>
		</instruction>
		<instruction>
			<name>GET_T_R</name>
			<value>5</value>
		</instruction>
		<instruction>
			<name>GET_B</name>
			<value>6</value>
		</instruction>
		<instruction>
			<name>STOP</name>
			<value>7</value>
		</instruction>
		<instruction>
			<name>SET_X</name>
			<value>18</value>
		</instruction>
		<instruction>
			<name>SET_Y</name>
			<value>20</value>
		</instruction>
		<instruction>
			<name>SET_H</name>
			<value>22</value>
		</instruction>
		<instruction>
			<name>SET_M_L</name>
			<value>24</value>
		</instruction>
		<instruction>
			<name>SET_M_R</name>
			<value>26</value>
		</instruction>
		<instruction>
			<name>G_GO</name>
			<value>224</value>
		</instruction>
		<instruction>
			<name>G_RESET</name>
			<value>225</value>
		</instruction>
		<instruction>
			<name>G_CONF</name>
			<value>226</value>
		</instruction>
		<instruction>
			<name>G_STOP</name>
			<value>227</value>
		</instruction>
	</instructionSet>
</config>