<?xml version="1.0" encoding="utf-8"?>
<!-- Config XML file for APSC200 P2 host-robot interface --><config>
    
	  <boundary>
		    <maxX>5.12</maxX>
		    <maxY>5.12</maxY>
	  </boundary>
      
    <chassisRadius>0.0630</chassisRadius>
    <wheelRadius>0.0315</wheelRadius>
    
    <maxError>0.1</maxError>
	
	  <botTags>
		    <bot>
			      <tag>S</tag>
			      <address>0</address>
			      <name>Shannon</name>
			      <leftWheel>
				        <slope>9</slope>
				        <intercept>140</intercept>
			      </leftWheel>
			      <rightWheel>
				        <slope>13</slope>
				        <intercept>105</intercept>
			      </rightWheel>
		    </bot>
		    <bot>
			      <tag>E</tag>
			      <address>1</address>
			      <name>Euler</name>
			      <leftWheel>
				        <slope>6.5068</slope>
				        <intercept>110</intercept>
			      </leftWheel>
			      <rightWheel>
				        <slope>7.6076</slope>
				        <intercept>110</intercept>
			      </rightWheel>
		    </bot>
		    <bot>
			      <tag>L</tag>
			      <address>2</address>
			      <name>Laplace</name>
			      <leftWheel>
				        <slope>7.711</slope>
				        <intercept>125</intercept>
			      </leftWheel>
			      <rightWheel>
				        <slope>7.5037</slope>
				        <intercept>125</intercept>
			      </rightWheel>
		    </bot>
	  </botTags>

      <beacon>
          <port>/dev/tty.usbserial-DN01F2NX</port>
          <x>0</x>
          <y>0</y>
      </beacon>
      <beacon>
          <port>/dev/tty.usbserial-DN03ZXNC</port>
          <x>1</x>
          <y>1</y>
      </beacon>
	
	  <rpi>
		    <address>130.15.101.192</address>
		    <username>pi</username>
		    <password>swep2018</password>
	  </rpi>
	
	  <instructionSet>
		    <instruction>
			      <name>GO</name>
			      <value>0</value>
		    </instruction>
		    <instruction>
			      <name>GET_X</name>
			      <value>1</value>
		    </instruction>
		    <instruction>
			      <name>GET_Y</name>
			      <value>2</value>
		    </instruction>
		    <instruction>
			      <name>GET_A</name>
			      <value>3</value>
		    </instruction>
		    <instruction>
			      <name>GET_T_L</name>
			      <value>4</value>
		    </instruction>
		    <instruction>
			      <name>GET_T_R</name>
			      <value>5</value>
		    </instruction>
		    <instruction>
			      <name>GET_B</name>
			      <value>6</value>
		    </instruction>
		    <instruction>
			      <name>STOP</name>
			      <value>7</value>
		    </instruction>
            <instruction>
			      <name>GET_POS</name>
			      <value>8</value>
		    </instruction>
            <instruction>
			      <name>GET_RSSI</name>
			      <value>9</value>
		    </instruction>
            <instruction>
			      <name>PING</name>
			      <value>10</value>
		    </instruction>
		    <instruction>
			      <name>SET_X</name>
			      <value>128</value>
		    </instruction>
		    <instruction>
			      <name>SET_Y</name>
			      <value>129</value>
		    </instruction>
		    <instruction>
			      <name>SET_A</name>
			      <value>130</value>
		    </instruction>
		    <instruction>
			      <name>SET_M_L</name>
			      <value>131</value>
		    </instruction>
		    <instruction>
			      <name>SET_M_R</name>
			      <value>132</value>
		    </instruction>
            <instruction>
			      <name>GO_F</name>
			      <value>133</value>
		    </instruction>
            <instruction>
			      <name>SET_POS</name>
			      <value>134</value>
		    </instruction>
            <instruction>
                <name>G_GO</name>
                <value>0</value>
            </instruction>
            <instruction>
			      <name>G_GET_X</name>
			      <value>1</value>
		    </instruction>
            <instruction>
			      <name>G_GET_Y</name>
			      <value>2</value>
		    </instruction>
            <instruction>
			      <name>G_GET_A</name>
			      <value>3</value>
		    </instruction>
		    <instruction>
			      <name>G_STOP</name>
			      <value>7</value>
		    </instruction>
            <instruction>
			      <name>G_GET_POS</name>
			      <value>8</value>
		    </instruction>
            <instruction>
			      <name>G_GET_RSSI</name>
			      <value>9</value>
		    </instruction>
            <instruction>
			      <name>G_GO_F</name>
			      <value>133</value>
		    </instruction>
	  </instructionSet>
</config>