<?xml version="1.0" encoding="utf-8"?>
<!-- Config XML file for APSC200 P2 host-robot interface --><config>
    
	  <boundary>
		    <maxX>5.12</maxX>
		    <maxY>5.12</maxY>
	  </boundary>
      
    <chassisRadius>0.0630</chassisRadius>
    <wheelRadius>0.0315</wheelRadius>
    
    <maxError>0.05</maxError>
	
	  <botTags>
		    <bot>
			      <tag>S</tag>
			      <value>0</value>
			      <name>Shannon</name>
			      <leftWheel>
				        <slope>15.5365</slope>
				        <intercept>105</intercept>
			      </leftWheel>
			      <rightWheel>
				        <slope>16.5485</slope>
				        <intercept>105</intercept>
			      </rightWheel>
		    </bot>
		    <bot>
			      <tag>E</tag>
			      <value>1</value>
			      <name>Euler</name>
			      <leftWheel>
				        <slope>16.1562</slope>
				        <intercept>100</intercept>
			      </leftWheel>
			      <rightWheel>
				        <slope>15.7985</slope>
				        <intercept>105</intercept>
			      </rightWheel>
		    </bot>
		    <bot>
			      <tag>L</tag>
			      <value>2</value>
			      <name>Laplace</name>
			      <leftWheel>
				        <slope>17.7831</slope>
				        <intercept>110</intercept>
			      </leftWheel>
			      <rightWheel>
				        <slope>18.7594</slope>
				        <intercept>95</intercept>
			      </rightWheel>
		    </bot>
	  </botTags>
	
	  <beacons>
		    <beacon>
			      <irPin>17</irPin>
			      <usPin>27</usPin>
			      <x>1.5</x>
			      <y>0</y>
		    </beacon>
		    <beacon>
			      <irPin>10</irPin>
			      <usPin>9</usPin>
			      <x>0.5</x>
			      <y>0</y>
		    </beacon>
		    <beacon>
			      <irPin>19</irPin>
			      <usPin>26</usPin>
			      <x>0</x>
			      <y>0.5</y>
		    </beacon>
		    <beacon>
			      <irPin>25</irPin>
			      <usPin>8</usPin>
			      <x>0</x>
			      <y>1.5</y>
		    </beacon>
		    <beacon>
			      <irPin>20</irPin>
			      <usPin>21</usPin>
			      <x>0</x>
			      <y>2.5</y>
		    </beacon>
	  </beacons>
	
	  <rpi>
		    <address>130.15.101.192</address>
		    <username>pi</username>
		    <password>swep2018</password>
	  </rpi>
	
	  <instructionSet>
		    <instruction>
			      <name>GO</name>
			      <value>0</value>
		    </instruction>
		    <instruction>
			      <name>GET_X</name>
			      <value>1</value>
		    </instruction>
		    <instruction>
			      <name>GET_Y</name>
			      <value>2</value>
		    </instruction>
		    <instruction>
			      <name>GET_A</name>
			      <value>3</value>
		    </instruction>
		    <instruction>
			      <name>GET_T_L</name>
			      <value>4</value>
		    </instruction>
		    <instruction>
			      <name>GET_T_R</name>
			      <value>5</value>
		    </instruction>
		    <instruction>
			      <name>GET_B</name>
			      <value>6</value>
		    </instruction>
		    <instruction>
			      <name>STOP</name>
			      <value>7</value>
		    </instruction>
		    <instruction>
			      <name>SET_X</name>
			      <value>18</value>
		    </instruction>
		    <instruction>
			      <name>SET_Y</name>
			      <value>20</value>
		    </instruction>
		    <instruction>
			      <name>SET_H</name>
			      <value>22</value>
		    </instruction>
		    <instruction>
			      <name>SET_M_L</name>
			      <value>24</value>
		    </instruction>
		    <instruction>
			      <name>SET_M_R</name>
			      <value>26</value>
		    </instruction>
            <instruction>
			      <name>GO_F</name>
			      <value>28</value>
		    </instruction>
		    <instruction>
			      <name>G_GO</name>
			      <value>224</value>
		    </instruction>
		    <instruction>
			      <name>G_RESET</name>
			      <value>225</value>
		    </instruction>
		    <instruction>
			      <name>G_CONF</name>
			      <value>226</value>
		    </instruction>
		    <instruction>
			      <name>G_STOP</name>
			      <value>227</value>
		    </instruction>
            <instruction>
			      <name>G_GO_F</name>
			      <value>240</value>
		    </instruction>
	  </instructionSet>
</config>